<h1>Historia</h1>

<div class="row">
    <div class="col-sm-5">
        <video width="320" height="240" #videoPlayer controls>
            <source src="{{historia.url}}" type="video/mp4" >
                <track src="{{historia.subtitle}}" kind="subtitles" srclang="es" label="Español">
          </video>
        <div class="d-flex">

            <div>
                <button (click)="reiniciarVideo()">Reiniciar</button>
            </div>

            <div>
                <button (click)="detenerVideo()">Detener</button>
            </div>

            <div>
                <button (click)="continuarVideo()">Continuar</button>
            </div>

        </div>
    </div>

    <div class="col-sm-7">
        <label for="">Repetir por sección</label>
        <input type="number" #repeticionesPorFrase min=0 value="2">
        <label for="">Repetir por historia</label>
        <input type="number" #repeticionesPorHistoria min=0 value="2">
        <label for="">Iniciar Historia</label>
        <button (click)="repetirSeccionDesdeData()">Iniciar historia</button>

        <div class="d-flex" *ngFor="let seccione of historia.seccion">
            <button (click)="repetirSeccion(seccione.inicio,seccione.fin)">Iniciar</button>
            <p> {{seccione.texto}} </p>
        </div>




    </div>
</div>